@font-face{
    font-family: "itc";
    src: url("./img/officina-serif-itc-book.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: itc,Arial, Helvetica, sans-serif; ;
}
body{
    position: relative;
}

.header{
    position: relative;
    width: 100%;
    height: 100px;
    align-items: center;
    border-bottom: 1px solid rgba(102,102,102,0.5);
    box-shadow: 0 0 1em 0 rgba(102,102,102,0.5);
    font-size: 10px;
}

.header .top-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 0;
    max-width: 980px;
}

.header .top-container .menu-lang a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
}

.app-container{
    display: flex;
    margin: 0 auto;
    padding: 20px 0;
    max-width: 980px;
}

.app-container .side-menu{
    display: flex;
    flex-direction: column;
    max-width: 980px;
    margin:20px 0;
}

.app-container .side-menu a{
    display: flex;
    align-items: center;
    padding: 15px 20px;
    text-decoration: none;
    width: 220px;
    height: 53px;
    background-color: #660099;
    border-bottom: 1px #4f0077 solid;
    color: #fff;
    font-size: 18px;
}

.app-container .side-menu a:hover{
    background-color: #4f0077;
}
/*vvvvvvvvvvvvvv Tabela vvvvvvvvvvvvvvv*/
.app-container #status{
    margin: 20px;
    max-width: 800px;
}
/*vvvvvvvvvvvvvv Coluna Esquerda vvvvvvvvvvvvvvv*/
.app-container #status th{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 62px;
    background-color: #e7ebf3;
}    

.app-container #status th img{
    position: absolute;
    margin: 0 20px;
    left: 0;
}

.app-container #status th span{
    position: absolute;
    left: 50px;
    margin: 0 10px;
    color: #4f0077;
}

.app-container #status td span{
    font-size: 12px;
    width: 60px;
    height: 24px;
    border-radius: 2px 2px;
    padding: 6px;
    background-color: #98ce1e;
    color: #fff;
}

.app-container #status td a{
    text-decoration: none;
}

.app-container #status .status-line-details{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
}

/*vvvvvvvvvvvvvv Coluna Central vvvvvvvvvvvvvvv*/

.app-container #status .status-line{
    display: flex;
    float: left;
    margin: 0 10px;
    align-items: center;
}

.status-line.active{
    color: #666666; 
}
.app-container #status td i.active{
    color: #98ce1e;
}

.app-container #status td{
    background-color: #f9f9f9;
    color: #CA5151;
    font-size: 12px;
    position: relative;
}

.app-container #status td i{
    display: flex;
    color: #CA5151;
    font-size: 15px;
}

.app-container #status td .status-line-box {
    margin-left: 10px;
}
